<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Discovery
Version    : 1.0
Released   : 20070707
Description: A two-column, fixed-width template with dark color scheme.

-->{% load media %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block page-title %}Агентство недвижимости {{ on_site_contacs.buisness_title|safe }}{{ page_title|safe|default:"" }}{% endblock %}</title>
<meta name="keywords" content="Аренда, покупка, продажа квартир и помещений в Ростове-на-Дону" />
<meta name="description" content="Агенство недвижимости {{ on_site_contacs.buisness_title|safe }}. Аренда, покупка, продажа квартир и помещений в Ростове-на-Дону." />
<link href="{% media_url "favicon.ico" %}"  type="image/x-icon" rel="shortcut icon" />
{% include_media "default.bundle.css" %}
</head>
<body>
<div class="page404">
    <h1>Страница не найдена!</h1>
    <p>
        <a href="/">Перейти на Главную</a>
    </p>
</div>
<!-- end page -->
<div id="footer">
	<p id="legal">
		Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></p>
	<p id="links"><a href="#">Privacy</a> | <a href="#">Terms</a> | <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></p>
</div>
</body>
</html>
