<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Discovery
Version    : 1.0
Released   : 20070707
Description: A two-column, fixed-width template with dark color scheme.

-->{% load media %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block page-title %}Агентство недвижимости {{ on_site_contacs.buisness_title|safe }}{{ page_title|safe|default:"" }}{% endblock %}</title>
<meta name="keywords" content="Аренда, покупка, продажа квартир и помещений в Ростове-на-Дону" />
<meta name="description" content="Агенство недвижимости {{ on_site_contacs.buisness_title|safe }}. Аренда, покупка, продажа квартир и помещений в Ростове-на-Дону." />
<link href="{% media_url "favicon.ico" %}"  type="image/x-icon" rel="shortcut icon" />
{% include_media "default.bundle.css" %}
{% block head-extra %}{% endblock %}
</head>
<body>
<div id="menu">
	<ul>
		<li class="{{ active_link.index|default:"" }}"><a href="{% url index %}">Главная</a></li>
		<li class="{{ active_link.services|default:"" }}"><a href="{% url services %}">Услуги</a></li>
		<li class="{{ active_link.items|default:"" }}"><a href="{% url items %}">Объекты</a></li>
		<li class="{{ active_link.contacts|default:"" }}"><a href="{% url contacts %}">Контакты</a></li>
	</ul>
</div>
<div id="logo">
	<h1><a>{{ on_site_contacs.buisness_title|safe }}</a></h1>
	<h2><a href="mailto:{{ on_site_contacs.email }}">{{ on_site_contacs.email }}</a><a>, {{ on_site_contacs.phone }}</a></h2>
</div>
<div id="page">
	<div id="content">
		<div>
        {% block content %}
			<h1 class="title">Welcome to Our Website!</h1>
			<p><img src="{% media_url "images/img08.jpg" %}" alt="" width="120" height="160" class="left" /></p>
			<p><strong>Discovery</strong> is a free template from <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. The  photos are from <a href="http://www.pdphoto.org/">PDPhoto.org</a>. You"re free to use it for both commercial or personal use. I only ask that you link back to <a href="http://www.freecsstemplates.org/">my site</a> in some way. <em>Enjoy :)</em></p>
			<h2>Praesent Scelerisque</h2>
			<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat:</p>
			<blockquote>
				<p>&ldquo;Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget.&rdquo;</p>
			</blockquote>
		</div>
		<div>&nbsp;</div>
		<div class="twocols">
			<div class="col1">
				<h3 class="title">Lorem Ipsum Dolor</h3>
				<p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.</p>
				<p><a href="#">Read more&hellip;</a></p>
			</div>
			<div class="col2">
				<h3 class="title">Pellentesque Quis</h3>
				<ul class="list">
					<li><a href="#">Ut semper vestibulum est</a></li>
					<li><a href="#">Vestibulum luctus dui</a></li>
					<li><a href="#">Integer rutrum nisl in mi</a></li>
					<li><a href="#">Etiam malesuada rutrum</a></li>
					<li><a href="#">Aenean facilisis ligula</a></li>
					<li><a href="#">Vestibulum luctus dui</a></li>
					<li><a href="#">Ut elit vitae augue</a></li>
					<li><a href="#">Sed sagittis leo vehicula</a></li>
					<li><a href="#">Ut elit vitae augue</a></li>
				</ul>
			</div>
        {% endblock %}
		</div>
	</div>
	<!-- end content -->
	<div id="sidebar">
    {% block sidebar %}
        {% block start-sidebar %}{% endblock %}
		<div id="search" class="boxed">
			<div class="content">
                {% block top-sidebar %}
				<form id="searchform" method="get" action="">
					<fieldset>
					<input id="searchinput" type="text" name="searchinput" value="" />
					<input id="searchsubmit" type="submit" value="Search" />
					</fieldset>
				</form>
                {% endblock %}
			</div>
		</div>
		<div id="news" class="boxed">
            {# Новые объекты #}
			<h2 class="title">{% block middle-sidebar-title %}Новые объекты{% endblock %}</h2>
			<div class="content">
                {% block middle-sidebar %}
				<ul>
					<li class="first">
						<h3>04 July 2007</h3>
						<p><a href="#">In posuere eleifend odio quisque semper&hellip;</a></p>
					</li>
					<li>
						<h3>29 June 2007</h3>
						<p><a href="#">Donec leo, vivamus fermentum nibh in augue&hellip;</a></p>
					</li>
					<li>
						<h3>13 June 2007</h3>
						<p><a href="#">Quisque dictum integer nisl risus sagittis&hellip;</a></p>
					</li>
				</ul>
                {% endblock %}
			</div>
		</div>
		<div id="extra" class="boxed">
			<h2 class="title">{% block bottom-sidebar-title %}Еще чего-то{% endblock %}</h2>
			<div class="content">
                {% block bottom-sidebar %}
				<ul class="list">
					<li class="first"><a href="#">Ut semper vestibulum est</a></li>
					<li><a href="#">Vestibulum luctus venenatis</a></li>
					<li><a href="#">Integer rutrum nisl in mi</a></li>
					<li><a href="#">Etiam malesuada rutrum enim</a></li>
					<li><a href="#">Aenean elementum facilisis</a></li>
					<li><a href="#">Ut tincidunt elit vitae augue</a></li>
					<li><a href="#">Sed quis odio sagittis leo</a></li>
				</ul>
                {% endblock %}
			</div>
		</div>
        {% block end-sidebar %}{% endblock %}
    {% endblock %}
	</div>
	<!-- end sidebar -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
<div id="footer">
	<p id="legal">
		Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></p>
	<p id="links"><a href="#">Privacy</a> | <a href="#">Terms</a> | <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></p>
</div>
</body>
</html>
