<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Корифена епт!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% load media webdesign %}
{% include_media "screen.bundle.css" %}
{% include_media "print.bundle.css" media='print' %}
<!--[if lt IE 8]>{% include_media "ie.bundle.css" %}<![endif]-->
</head>
<body>
    <div class="container showgrid">
        <div class="prepend-2 append-2 span-20 last topmenu">
            <a>ГЛАВНАЯ</a>
            <a>О НАС</a>
            <a>УСЛУГИ</a>
            <a>КОНТАКТЫ</a>
        </div>
        <div class="prepend-2 span-15 bigbanner">
            <img src="/s/images/index_05.jpg" >
        </div>
        <div class="append-2 span-5 bigtext last">
            <div class="bigtextbg">
                Тут будет текст.
            </div>
        </div>
        <div class="prepend-2 append-2 span-20 last main">
            <h1>{% lorem 4 w random %}</h1>
            <div class="itext">{% lorem 1 p random %}</div>
            <h2>{% lorem 4 w random %}</h2>
            <div class="itext">{% lorem 1 p random %}</div>
            <h3>{% lorem 4 w random %}</h3>
            <div class="itext">{% lorem 1 p random %}</div>
        </div>
        <div class="prepend-2 span-7 smallbanners">
            <h3>Аренда</h3>
            <img src="http://lorempixum.com/175/100/city/">
            <div class="itext">{% lorem 1 p random %}</div>
            <a href="#">читать дальше</a>
        </div>
        <div class="span-7 smallbanners">
            <h3>Продажа</h3>
            <img src="http://lorempixum.com/175/100/city/">
            <div class="itext">{% lorem 1 p random %}</div>
            <a href="#">читать дальше</a>
        </div>
        <div class="append-2 span-6 last smallbanners">
            <h3>Покупка</h3>
            <img src="http://lorempixum.com/175/100/city/">
            <div class="itext">{% lorem 1 p random %}</div>
            <a href="#">читать дальше</a>
        </div>
    </div>
</body>
</html>
