<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Корифена епт!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% load media %}
{% include_media "style.bundle.css" %}
</head>
<body style=" leftmargin= 0px; topmargin= 0px; marginwidth= 0px; marginheight= 0px;">
<!-- Save for Web Slices (sky_is_the_limit_sliced.psd) -->
<div id="main">
  <table style="width= 1000px; height= 1001px;" border="0" align="center" cellpadding="0" cellspacing="0" id="Table_01">
    <tr>
      <td colspan="6">
        <img src="{% media_url "images/index_01.jpg" %}" width="1000" height="67" alt="" /></td>
      </tr>
    <tr>
      <td rowspan="4">
        <img src="{% media_url "images/index_01.jpg" %}" width="78" height="933" alt="" /></td>
	    <td colspan="4"><div id="top_menu">
        <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="index.html">ABOUT</a></li>
        <li><a href="index.html">SERVICES</a></li>
        <li><a href="index.html">FAQ</a></li>
        <li><a href="index.html">CONTACT</a></li>
        </ul>
        </div></td>
	    <td rowspan="4">
	        <img src="{% media_url "images/index_04.jpg" %}" width="78" height="933" alt="" /></td>
      </tr>
    <tr>
      <td colspan="3" style="background:url({% media_url "images/index_05.jpg" %})">&nbsp;</td>
	    <td>
	        <img src="{% media_url "images/index_06.jpg" %}" width="233" height="322" alt="" /></td>
      </tr>
    <tr>
      <td colspan="4"><div id="content">
      <div class="h1">WHAT IS OUR COMPANY ABOUT</div>
      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
 recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
      </div></td>
      </tr>
    <tr>
      <td><div id="content_buttom1">
      <div class="h1">OUR PROFILE</div>
      <img src="{% media_url "images/profile.jpg" %}" alt=""/>
      <br />
      <div class="content_buttom">Neque porro quisquam est, qui dolorem 
ipsum quia dolor sit amet, consectetur, 
adipisci velit, sed quia non numquam eius
modi tempora incidunt ut labore et dolore.</div>
<div class="read_more"><a href="index.html" >READ MORE</a></div>
</div></td>
	    <td><div id="content_buttom2">
        <div class="h1">PERSONAL ADVICE</div>
        <img src="{% media_url "images/personal_advice.jpg" %}" alt=""/>
              <br />
      <div class="content_buttom">Neque porro quisquam est, qui dolorem 
ipsum quia dolor sit amet, consectetur, 
adipisci velit, sed quia non numquam eius
modi tempora incidunt ut labore et dolore.</div>
<div class="read_more"><a href="index.html" >READ MORE</a></div>
    </div></td>
	    <td colspan="2"><div id="content_buttom3">
        <div class="h1">DID YOU KNOW</div>
              <img src="{% media_url "images/profile.jpg" %}" alt=""/>
              <br />
              <div class="content_buttom">Neque porro quisquam est, qui dolorem 
ipsum quia dolor sit amet, consectetur, 
adipisci velit, sed quia non numquam eius
modi tempora incidunt ut labore et dolore.</div>
<div class="read_more"><a href="index.html" >READ MORE</a></div>
	    </div></td>
      </tr>
    <tr>
      <td>
        <img src="{% media_url "images/spacer.gif" %}" width="78" height="1" alt="" /></td>
	    <td>
	        <img src="{% media_url "images/spacer.gif" %}" width="282" height="1" alt="" /></td>
	    <td>
	        <img src="{% media_url "images/spacer.gif" %}" width="281" height="1" alt="" /></td>
	    <td>
	        <img src="{% media_url "images/spacer.gif" %}" width="48" height="1" alt="" /></td>
	    <td>
	        <img src="{% media_url "images/spacer.gif" %}" width="233" height="1" alt="" /></td>
	    <td>
	        <img src="{% media_url "images/spacer.gif" %}" width="78" height="1" alt="" /></td>
      </tr>
  </table>
  <div class="footer">COPYRIGHT (C) 2010 &quot;YOUR SITE&quot;. DESIGN BY <a href="http://www.barokstoelen.com">Barok meubels</a>. <br />
    <a href="http://validator.w3.org/check?uri=referer">XHTML</a>Valid.<br />
  </div>
  <div class="style1"><a href="http://www.barokstoelen.com">Eetkamerstoelen</a></div>
</div>
<!-- End Save for Web Slices -->
</body>
</html>
