{% extends "index.html" %}
{% load media markup %}
{% block content %}
  <h1 class="title">Приветсвуем вас на нашем сайте.</h1>
  {% if not self_photo and perms.realty.add_siteimage %}
      <a href="{% url admin:realty_siteimage_add %}?slug=self_photo" class="admin_link">залить фото</a>
  {% endif %}
  {% if self_photo and perms.realty.change_siteimage %}
      <a href="{% url admin:realty_siteimage_change self_photo.pk %}" class="admin_link">перезалить фото</a>
  {% endif %}
  {% if self_photo %}
  <p>
    <img src="{{ self_photo.file.url }}" alt="{{ on_site_contacs.fio }}" class="left" />
  </p>
  {% endif %}
  {{ first_paragraph.body|textile }}
  {% if perms.realty.change_sitetext %}
    <a href="{% url admin:realty_sitetext_change first_paragraph.pk %}" class="admin_link">отредактировать первый параграф</a>{% endif %}
  <div style="clear: both;"><br></div>
  <div>
  {{ second_paragraph.body|textile }}
  {% if perms.realty.change_sitetext %}
    <a href="{% url admin:realty_sitetext_change second_paragraph.pk %}" class="admin_link">отредактировать второй параграф</a>{% endif %}
  </div>
{% endblock %}
{% block sidebar %}
<div id="news" class="boxed">
    <h2 class="title">Новые объекты</h2>
        <div class="content">
            <ul>
            {% for o in last_offers %}
                <li {% if forloop.first %}class="first"{% endif %}>
                    <h3>{{ o.added|date:"d.m.Y" }}</h3>
                    <p><a href="{{ o.get_absolute_url }}">[{{ o.offer_type.title }}] {{o.quarter.title }}<br />{{ o.text|slice:":30" }}&hellip;</a></p>
                    {% if perms.realty.change_offer %}
                      <a href="{% url admin:realty_offer_change o.pk %}" class="admin_link">редактировать</a>
                    {% endif %}
                    {% if perms.realty.delete_offer %}
                      &nbsp;<a href="{% url admin:realty_offer_delete o.pk %}" class="admin_link">удалить</a>
                    {% endif %}
                </li>
            {% if forloop.last %}
            <li><a href="{% url items %}">все объявления</a></li>
            {% endif %}
            {% empty %}
              <li>Нет объявлений</li>
            {% endfor %}
            {% if perms.realty.add_offer  %}
                <li> <a href="{% url admin:realty_offer_add %}" class="admin_link">добавить объявление</a> </li>
            {% endif %}
            </ul>
			</div>
		</div>
		<div id="extra" class="boxed">
        <h2 class="title">Услуги</h2>
        <div class="content">
            <ul class="list">
                {% for s in services %}
                <li {% if forloop.first %}class="first"{% endif %}>
                    <a href="{{ s.get_absolute_url }}">{{ s.title }}</a>
                    {% if perms.realty.change_service %}
                      <a href="{% url admin:realty_service_change s.pk %}" class="admin_link">редактировать</a>
                    {% endif %}
                    {% if perms.realty.delete_service %}
                      &nbsp;<a href="{% url admin:realty_service_delete s.pk %}" class="admin_link">удалить</a>
                    {% endif %}
                </li>
                {% if forloop.last %}
                  <li><a href="{% url services %}">Весь список</a></li>
                {% endif %}
                {% empty %}
                  <li class="first">Еще добавляем!</li>
                {% endfor %}
                {% if perms.realty.add_service  %}
                    <li><a href="{% url admin:realty_service_add %}" class="admin_link">добавить услугу</a></li>
                {% endif %}
                {% if perms.realty.change_service  %}
                    <li><a href="{% url admin:realty_service_changelist %}" class="admin_link">управлять</a></li>
                {% endif %}
            </ul>
        </div>
		</div>
{% endblock %}
